html,
body {
    padding: 0;
    margin: 0;

}

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    font-family: 'Sono', sans-serif;
    color: white;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

i{
    z-index: 2;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img {
    max-width: 100%;
    min-width: 3rem;
    height: auto;
    

}

.alignright {
 text-align: right;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
}

.gallery img {
    display: block;
    width: 100%;

    object-fit: cover;
    aspect-ratio: 4/3;
    height: auto;
}

.gallery figure {
    position: relative;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

header {
    background-color: #A64A2C;
    z-index: 2;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

body {
    background-color: #f5d5c1;
}

.hero {
    display: grid;
    grid-template-areas: "stack";
}

.hero>* {
    grid-area: stack;
}

main {

    padding-top: 1rem;
    padding: 2%;
    background-color: #E57124;
}

.hero>h1 {
    place-self: center;
    font-size: 4rem;
    color: rgb(135, 201, 216);
    outline: auto;
    outline-style: groove;
    outline-color: rgb(17, 49, 49);
    outline-width: 0.1ch;
}



footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

:root {
    --color-light: #f0f0f0;
    --color-dark: #F4721C;
    --color-primary: #ec325a;
    --color-secondary: #4a0080;
}

.btn {
    text-align: center;
    text-decoration: none;
    margin: 0 0.25rem;
    padding: 0.375rem 0.75rem;
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: var(--color-primary);
}

.btn-rounded {
    border-radius: 5%;
}